.prob-container{

    text-align: left;
    padding: 10px;
    height: 100px;
    width: 500px;
    border: 1px solid black;
    background-color: #00ffff;
    margin: 2% 4% 2% 4%;
    
}
.prob-link{
    text-decoration: none;
    color: black;
    
}
.prob-tag{
    font-size: 5px;
}
.tag{
    padding: 0px;
    font-size: 5px;
}
.difficulty{
    padding-top: 0px;
    padding-left: 0px;
    font-size: small;
}
.prob-title
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: red;
}