.App {
  background-color: #e5e8f5;
}


.App-header {
  background-color: #989eaa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}




